body {
  overflow-x: hidden;
}

h1 {
  font-size: 50px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
  display: inline-block;
  margin-right: 2vw;
  opacity: 70%;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.navBar {
  position: absolute;
  display: flex;
  top: 0;
  padding: 3vh 10vw;
  justify-content: space-between;
  width: 80vw;
}

.nav-1 {
  width: 40vw;
  display: flex;
  align-items: center;
}

.nav-2 {
  display: flex;
  align-items: center;
}

.cartIcn {
  cursor: pointer;
  margin-right: 40px;
}

.avatarImg {
  cursor: pointer;
  width: 50px;
}

.main-product-content {
  margin: 20vh 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-images {
  grid-column-start: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.productImg {
  width: 450px;
  border-radius: 15px;
}

.thumbnails {
  margin-top: 20px;
}

.productThb {
  width: 100px;
  border-radius: 15px;
  cursor: pointer;
}

.main-description {
  grid-column-start: 2;
}

.main-description p {
  line-height: 32px;
}

.product-brand {
  color: rgb(255, 153, 0);
  margin-bottom: 10px;
}

.prices {
  display: flex;
}

.promo-coupon {
  color: orange;
  background-color: rgb(255, 239, 210);
  width: 40px;
  border-radius: 5px;
  padding: 5px 5px 7px 10px;
  margin-left: 20px;
}

.old-price {
  opacity: 30%;
  text-decoration: line-through;
  flex-grow: 1;
  margin-top: -20px;
  margin-bottom: 50px;
}

.product-buy {
  display: flex;
  align-items: center;
}

.product-qtt {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 7vh;
  background-color: rgb(240, 241, 241);
  /* padding: 2vh 4vw 2vh 1vw; */
  border-radius: 5px;
  margin-right: 2vw;
}

.product-qtt img {
  cursor: pointer;
}

.qtt-minus,
.qtt-plus {
  width: 4vw;
  height: 4vh;
}

.product-qtt img:first-child {
  margin-right: 2vw;
}

.product-qtt img:last-child {
  margin-left: 2vw;
}

.addToCart-button {
  color: white;
  background: url("./images/icon-cart.svg") no-repeat;
  background-position: 70px;
  background-color: rgb(255, 115, 0);
  padding: 2vh 6vw 2vh 7vw;
  border-radius: 5px;
}